html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FFD33E;
    overflow: auto;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    padding: 5%;
    font-weight: 400;
    font-size: 1.5em;
    margin: 2% auto;
}

input, button {
    font-size: 1em;
}

.mainContainer {
    margin: 10%;
    padding: 0;
    text-align: center;
    overflow: auto;
    border-radius: 5px;
}

.rows {
    text-align: center;
    width: 90%;
    margin: 5% auto;
    padding: 5%;
    text-align: left;
    overflow: auto;
    background: white;
    border-radius: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";       /* IE 8 */
    filter: alpha(opacity=90);  
    -moz-opacity: 0.9;          
    -khtml-opacity: 0.9;        
    opacity: 0.9;     
}

.choices {
    padding: 3%;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

#userPrompt {
    display: none;
    padding: 2% 0;
    display: block;
    font-family: "Verdana";
    font-size: 0.7em;
    color: #53565b;
}
