html {
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f4cb42;
  overflow: auto;
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    padding: 5%;
    font-weight: 400;
    font-size: 1.5em;
    margin: 2% auto;
    border-bottom: 2px dotted grey;
}

input, button {
    font-size: 1em;
}

.mainContainer {
    margin: 10%;
    padding: 0;
    text-align: center;
    background: #a6a9ad;
    border: 2px dotted grey;
    overflow: auto;
}

.rows {
    width: 90%;
    margin: 3% auto;
    padding: 5% 2%;
    text-align: left;
    border: 2px solid red;
    background: #eaecef;
    overflow: auto;
}

.choices {
    padding: 3%;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

#userPrompt {
    display: none;
}
